<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，作用就是对SQL进行分类化管理，理解SQL隔离 -->
<mapper namespace="gz.ht.dao.UserMapper">
<!-- 开启二级缓存
	type：指定cache接口的实现类型，mybatis默认使用PerpetualCache要和ehcache整合，需要配置type和ehcahe接口的类型
 -->
<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
<!-- 
	通过select执行数据库查询，将SQL语句封装到mappedStatement对象中
	parameterType：指定输入参数类型
	resultType:指定SQL输出结果的所映射的java对象类型，select指定resultType表示将单挑记录映射成java对象。
 	resultType指定的就是单条记录所映射的java对象类型
 -->
 	
	<select id="findUserById" parameterType="int" resultType="gz.ht.pojo.User">
		select * from user where id = #{id}
	</select>
	
	<insert id="insert" parameterType = "gz.ht.pojo.User">
<!-- 		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer" > -->
<!-- 			select LAST_INSERT_ID() -->
<!-- 		</selectKey> -->
		insert into user (username,birthday,sex,address) value(#{username},#{birthday},#{sex},#{address})
	</insert>
	
	<delete id="delete"	 parameterType="int" >
		delete from user where id = #{id} 
	</delete>
	
	<update id="update" parameterType="gz.ht.pojo.User">
		update user set username=#{username},birthday=#{birthday},sex=#{sex},address=#{address} where id=#{id};
	</update>
	
</mapper>
